---
import Layout from '~/layouts/LandingLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import Headline from '~/components/ui/Headline.astro';
const metadata = {
  title: 'Sales Landing Page Demo',
};
import Research from '../components/Research.astro';

const papers = [
  {
    imageSrc: '/images/MP5.png',
    title: 'MPS: A Multi-modal Open-ended Embodied System in Minecraft via Active Perception',
    authors: 'Yiran Qin, Enshen Zhou, Qichang Liu, Zhenfei Yin, Lu Sheng, Ruimao Zhang, Yu Qiao, Jing Shao',
    publication: 'CVPR (IEEE Conference on Computer Vision and Pattern Recognition) 2024',
  },
  {
    imageSrc: 'image2.jpg',
    title: 'Paper Title 2',
    authors: 'Author 3, Author 4',
    publication: 'Publication 2',
  },
];
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>
  <!-- <Headline
  title={'Research'}
  classes={{
    title: 'text-3xl md:text-6xl',
    container: 'pt-6 mb-0 md:mb-0',
  }}
/> -->
  <div style="display: flex;justify-content:center;margin:20px auto;">
    <Research  papers={papers}/>
  </div>
</Layout>
